<div class="row">
  <div class="col-12 mb-4">
    <app-nav-pills></app-nav-pills>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-card *ngIf="bookings.length > 0; else noBookings">
      <div class="table-responsive">
        <table class="table table-borderless table-hover mb-0">
          <thead>
          <tr class="d-flex">
            <th scope="col" class="col-4 col-md-2">Car</th>
            <th scope="col" class="col-4 col-md-2">Licence Plate</th>
            <th scope="col" class="col-4 col-md-3 col-lg-2">Start Date</th>
            <th scope="col" class="col-4 col-md-3 col-lg-2">End Date</th>
            <th scope="col" class="col-4 col-md-2">Price</th>
            <th scope="col" class="col-5 col-md-3 col-lg-2 text-right">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let booking of bookings" class="d-flex" [ngClass]="{'table-warning': !booking.endDate}">
            <td class="col-4 col-md-2">{{booking.car.name}}</td>
            <td class="col-4 col-md-2">{{booking.car.licencePlate}}</td>
            <td class="col-4 col-md-3 col-lg-2">{{booking.startDate}}</td>
            <td class="col-4 col-md-3 col-lg-2">{{booking.endDate ? booking.endDate : '-'}}</td>
            <td class="col-4 col-md-2">{{booking.price ? booking.price : '-'}}</td>
            <td class="col-5 col-md-3 col-lg-2 text-right">
              <span *ngIf="!booking.endDate" class="badge badge-success mr-2">Running</span>
              <a
                *ngIf="!booking.endDate; else paid"
                class="badge badge-danger"
                href="javascript:void(0)"
                (click)="onStopClicked(booking)"
              >Stop</a>
              <ng-template #paid>
                <span class="badge badge-secondary">Paid</span>
              </ng-template>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
    <ng-template #noBookings>
      <div class="alert alert-warning" role="alert">
        No bookings available.
      </div>
    </ng-template>
  </div>
</div>
