<ng-container *ngIf="cars.length > 0">
  <div class="row mb-2">
    <div class="col-12">
      <h4>{{title}}</h4>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let car of cars" class="col-12 mb-3">
      <app-card
        [title]="car.name"
        [selected]="car.id === selectedCar?.id"
        [cursorPointer]="true"
        [subTitle]="(car.price).toString() + ' per day'"
        [subTitlePadding]="car.id === selectedCar?.id"
        (cardClick)="onCarClicked(car)"
      >
        <div
          *ngIf="car.id === selectedCar?.id"
          class="text-center"
        >
          <a
            (click)="onActionClicked(car.id)"
            type="button"
            class="card-link"
            href="javascript:void(0)"
          >{{actionName}}</a>
        </div>
      </app-card>
    </div>
  </div>
</ng-container>
