<div class="card shadow" [ngClass]="{'border-primary': selected, 'border-white': !selected}" (click)="onCardClicked()" [ngStyle]="{'cursor': cursorPointer ? 'pointer' : 'auto'}">
  <img *ngIf="imgUrl" class="card-img-top" [src]="imgUrl" alt="Card image cap">
  <div class="card-body">
    <h5 *ngIf="title" class="card-title" [ngClass]="{'mb-0': !titlePadding}">{{title}}</h5>
    <h6 *ngIf="subTitle" class="card-subtitle text-muted" [ngClass]="{'mb-0': !subTitlePadding, 'mb-2 ': subTitlePadding}">{{subTitle}}</h6>
    <ng-content></ng-content>
  </div>
</div>
