<div class="row">
  <div class="col-12 mb-4">
    <app-nav-pills></app-nav-pills>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-8 mb-4 d-none d-md-block">
    <google-map
        #map
        [height]="'85vh'"
        [width]="'100%'"
        [center]="center"
        [zoom]="17"
        [options]="options"
    >
      <map-marker
        *ngFor="let car of bookedCars.concat(availableCars)"
        [position]="{lat: car.latitude, lng: car.longitude}"
        (mapClick)="onMarkerClicked(car)"
        [title]="'Title'"
      >
      </map-marker>
    </google-map>
  </div>

  <div class="col-12 col-md-4 overflow-auto" style="height: 85vh">
    <app-inner-card-list
      [selectedCar]="selectedCar"
      [cars]="bookedCars"
      (action)="onCarReturned($event)"
      (carClick)="onCarClicked($event)"
      [title]="'Booked cars'"
      [actionName]="'Return'"
    ></app-inner-card-list>
    <app-inner-card-list
      *ngIf="availableCars.length > 0; else noCarsAvailable"
      [selectedCar]="selectedCar"
      [cars]="availableCars"
      (action)="onCarBooked($event)"
      (carClick)="onCarClicked($event)"
      [title]="'Available cars'"
      [actionName]="'Book'"
    ></app-inner-card-list>
    <ng-template #noCarsAvailable>
      <div class="alert alert-warning" role="alert">
        No cars available.
      </div>
    </ng-template>
  </div>
</div>
