<div class="row justify-content-center">
  <div class="col-6">
    <app-card title="Register">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" formControlName="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <div class="form-group">
          <label for="repeatPassword">Repeat Password</label>
          <input type="password" class="form-control" id="repeatPassword" formControlName="passwordRepeat">
        </div>
        <div class="form-group">
          <label for="currency">Currency</label>
          <select class="form-control" id="currency" formControlName="currency">
            <option *ngFor="let currency of currencies">{{currency}}</option>
            <option>EUR</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary w-100" [disabled]="!registerForm.valid">Register</button>
        <div class="mt-3 text-center">Already have an account? <a routerLink="">Sign in!</a></div>
      </form>
    </app-card>
  </div>
</div>
