<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home/cars" routerLinkActive="active">Cars</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/home/bookings" routerLinkActive="active">Bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" routerLinkActive="active" disabled="disabled">Profile</a>
  </li>
</ul>
