<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <app-card title="Login">
      <button type="button" class="btn btn-primary w-100" routerLink="/home/cars">Login</button>
      <div class="mt-3 text-center">Don’t have an account? <a routerLink="register">Sign up!</a></div>
    </app-card>
  </div>
</div>
